.experience_cont {
    padding: 100px 70px;
    background-color: black;
    color: white;
    font-family: "Roboto Flex", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience_title {
    font-weight: 600;
    font-size: 70px;
}

.experience_text {
    font-weight: 400;
    font-size: 35px;
}